body {
    font-family:'Open Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    width: 800px;
    height: 700px;
    margin-top: 10px;
    position: top;
}
#main {
    float: left;
    width: 650px;
}
#sidebar {
    float: right;
    width: 70px;
}

#sequence {
    width: 400px;
    height: 70px;
}

#legend {
    padding: 5px 0 0 3px;
    position: relative;
}

#sequence text, #legend text {
    font-size: 11px;
    font-weight: 500;
    fill: #fff;
}

#chart {
    position: relative;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 260px;
    left: 355px;
    width: 70px;
    text-align: center;
    color: #666;
    z-index: 10;
    
}


#percentage {
    font-size: 2.5em;
    color: #666666;
}
