Cara


Search Drive

Drive
.
Folder Path
My Drive
1 Clients
1 EOYDC Design Strategy
Mapping Project
Visual Impact Site
css
NEW 
Folders and views
My DriveCollapsed
Shared with me
Google Photos
Recent
Starred
Trash
Name
Owner
Last modified
File size

bootstrap.css
me
Dec 9, 2014me
117 KB
Not selected

sequences.css
me
Jun 13, 2015me
759 bytes
Not selected

stylish-portfolio.css
me
Jun 13, 2015me
5 KB
Selected
Get Drive for Mac
16 GB of 100 GB used
Upgrade storage

/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

/* * {
  border-color: red;
  border-style: solid;
  border-width: 5px;
} */


/* Text */

        .vert-text {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
        
        .vert-text h1 {
          padding: 0;
          margin: 0;
          font-size: 4.5em;
          font-weight: 700;
        }
        
        h2.featurette-heading-heart  {
             color: #3CF
        }
        
        h2.featurette-heading-pencil  {
             color: #F39
        }
        
        h2.featurette-heading-shield  {
             color: #F63
        }
        
.heart-stat {
  color: #3CF;
}

.heart-stat:hover {
   font-size: 65px;
}


.result-stat {
  color: #6600CC;
}

.result-stat:hover {
   font-size: 65px;
}


/* icons */

        i.service-icon {
              padding: 4px 8px;
              display: inline-block;
              border-radius: 100px;
              font-size: 56px;
              width: 140px;
              height: 140px;
              line-height: 120px;
              vertical-align: middle; 
              text-align: center;
        }
        
        
        .icon-heart {
            color: #33CCFF;
            border: 3px solid #33CCFF;
        }
        
        
        .icon-pencil {
            color: #FF3399;
            border: 3px solid #FF3399;
        }
        
        
        .icon-shield {
            color: #ff9933;
            border: 3px solid #ff9933;
        }
        
        .half { 
            width: 100px; height: 300px;
        }

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/wonder.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Intro */

.intro {
  padding: 50px 0;
}


/* Services */

.services {
  background: #a5a2ad;
  padding: 50px 0;
  color: #ffffff;
}


.service-item {
  margin-bottom: 15px;
}


i.service-icon:hover {
  font-size: 68px;
}


/* Map */
.overlay {
   background:transparent; 
   position:relative; 
   width:700px;
   height:500px; /* your iframe height */
   top:500px;  /* your iframe height */
   margin-top:-500px;  /* your iframe height */
}


/* Callout */

.callout-mission {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/3girls.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  vertical-align: middle;
}

.callout-b {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/China-wall.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  vertical-align: middle;
}


/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
} 

/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #a5a2ad;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}


.main { 
     background: #306;
}
    
    
/* Footer */

.footer {
  padding: 100px 0;
}

div {
    text-align: center;
    width: 100%;
}

